

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    
    position: relative; 
  }
  
  .footer-left,
  .footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  .footer-left{
    align-items: flex-start;
  }

  .footer-right {
    
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
  }
  
  
  
  .footer-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
  }
  
  
  @media screen and (max-width: 768px) {
    .footer {
      min-height: unset; 
    }
  
    .footer-center {
      position: static; 
      
    }
  
    
  }
  

   
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  
  .sitemap {
    display: flex;
    list-style: none;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .sitemap li {
    margin-right: 20px;
  }
  
  .sitemap a {
    color: #fff;
    text-decoration: none;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  
  .social-icons a {
    margin-left: 10px;
    font-size: 24px;
    color: #fff;
    transition: transform 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
    transform: translateY(-2px);
  }
  
  .footer-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-left,
    .footer-right {
      flex: none;
      margin-bottom: 20px;
    }
  
    .sitemap {
      flex-direction: column;
    }
  
    .sitemap li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .social-icons {
      flex-direction: row;
      flex-wrap: wrap;
      margin-top: 10px;
    }
  
    .social-icons a {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }