.logo{
    width: 80%;
    align-items: left;
    margin-left: 2%;
    margin-bottom: 0.5%;
    
    
}
.logo-col{
    display: flex;
    margin-right: 20%;
    
}


.footer {
    
    position: relative;
    bottom: 0;
    width: 100vh;
    
    background-color: #343a40; /* Adjust background color as needed */
    color: white;
    text-align: center;
    padding-top:2%;
    

  }
.container{
    padding: 0;
    margin: 0 0 0 0;
    
}
.copyright{
    margin-bottom: 0;
    padding: 0;
}
.row{
    width: 100%;
    margin-right: 0px;
}

.sitemaps{
    text-align:justify;
    padding-right: 2%;
    margin-right: 2%;
    width: auto;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
.mail-icon{
    margin-top: 0.5%;
    margin-right: 2%;
    text-align: left;
}
.icons{
    margin-top: 0.5%;
    margin-left: 5%;
   
}

@media only screen and (max-width: 600px) {
    .sitemaps {
      text-align: center;
    }
    .stack{
        display: none;
    }
  }
  .stack{
    margin-left: 3%;
  }
  .icon{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
  }