.card {
  padding: 0.5em;
  width: 85%;
  border: 1px solid rgb(47, 59, 51);
  margin: 2rem;
  
}

.card h5{
  text-align: center;
}

.cardSlider{
  width: 85% !important;
  margin-left: 5vw;
}

.slick-next{
  margin-right: -1.8rem;
  padding-right: 0rem;
}


@media screen and(min-width:900px) {
  

  
  .cardSlider{
    width: 95% !important;
    padding-left: 6rem;
  }

  .slick-prev, .slick-next{
    display: none;
  }
  .card{
    width: 70%;
  }
}

@media screen and(min-width:600px) {
  .cardSlider{
    width: 95% !important;
    /* padding-left: 6rem; */
  }
  .card{
    width: 75%;
  }
  .slick-slider{
    padding-right: 2rem;
  }
  .slick-prev, .slick-next{
    display: none;
  }
}