@import url('https://fonts.googleapis.com/css?family=Cairo');
fbg{
  background-color: #B4D4FF;
}

.titleOVM {
  font-family: "Cairo";
  text-align: center;
  /* color: #FFF; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  letter-spacing: 1px;
  line-height:2;

}

.titleOVM h1{
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif) !important;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 3.8rem;
  font-weight: bold;
  margin: 10px 0;
}