.card{
    background: #0d1117 !important; 
    color:rgba(255,255,255,0.8) !important;
    width:75%;
    height:28rem;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
    border-radius: 0px 0px 10px 10px, !important;
  }
  .card:hover{
    background-color: rgba(0, 0, 0, 0.811),!important;
    box-shadow: rgba(18, 88, 173, 0.8) 0px 20px 50px -25px !important;
  color: #ffffff !important;
  cursor: pointer;
  transform: scale(1.03);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #4e4a4f #363535;
    scroll-behavior: smooth;
    
    
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 0.5px;
    
  }

  *::-webkit-scrollbar-track {
    background: #363535;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4e4a4f;
    border-radius: 20px;
    /* border: 0.5px ridge #595959; */
  }